}

.Escondido{
	display: none;
}

.respuestaInput{
	min-height: 50px !important;
	color:#f9ec23;
	
}
.BarajaResp{
	margin-bottom:16px;
	background-color:#1a1a1a !important;
	width: 180px;
	height:296px;
	border:solid 3px #4d5b62;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.cartasColumnaIzq{
	min-width: 180px;
	min-height:294px;	
	max-width: 180px;
	max-height:334px;
	margin: 0px auto;
	
}

.cartaReversa{
	width:100%;
	margin: 0 auto;
}
.mazoTemp{
	float:left;
	position:relative;
	margin:10px;
	width: 107px;
	height:107px;
	z-index: 1;
}

.mazoTemp .cartaMazo{
	
	z-index: 1;
}

.barajaTemp{
	margin-left: 2px;
	width: 170px !important;
	height:214px !important;
	border:solid 2px #000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	
}


.contenido{
	width: 528px;
	background-color: #003f3b;
	min-height: 50px !important;
	color:#f9ec23;
	margin: auto;
	
}
.fondoMazo{
	width: 528px;
	height: 528px;
	background-color: #00a69c;
}
.espacioSuperior{
	margin-top:3%;
}

.contenidoSuperior{
	width: 528px;
	background-color: #007853;
	min-height: 20px !important;
	margin:0px auto;
	font-family:Helvetica;
	font-size:10pt;
	
}
.fondosup{
	width: 528px;
	background-color: #000;
	min-height: 15px !important;
	font-size: 87%;
	color: white;
	margin-bottom: 5px;
	padding:2px;
	
}
.multiplicador {
	float: right;
	width: 130px;
	font-size: 100%;
}

.errores {
	float: right;
	width: 70px;
	font-size: 100%;
}
.comodines {
	float: right;
	width: 90px;
	font-size: 100%;
}

.puntosTotal {
	float: right;
	width: 105px;
	font-size: 100%;
}

.cartaError{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */

}

.centro{
	margin:0px auto;
}

.textoLetra{
	color:#f9ec23;
	background-color:#007853;
	min-height: 28px;
	margin-top: 3px;
	font-size: 18pt;
	
}


.hora{
	margin-left:15px;
}

.espacioReloj{
	margin-top:-3px;
	margin-left:5px;
	float: left;
	width: 95px;
	font-size:20pt;
	
}

.cartaCorrecta{
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}

.cartaClick{
	border-color: #fcee21;
	border-width: 5px;
	border-style: solid;
}

.cartaNoClick{
	border-color: none;
	border-width: 0px;
	border-style: solid;
}

.mazoTemp .frijolito {
	z-index: 5 !important;
    background:transparent url(close.png) no-repeat scroll 0pt 50% !important;
    cursor:pointer;
    color:#000000;
    display:block !important;
    height:35px;
    position:absolute;
    text-align:center;
    text-decoration:none;
    vertical-align:bottom !important;
    width:34px;
    opacity: 0.8;
    margin: 0px auto;
}