.Escondido{
	display: none;
}

.respuestaInput{
	min-height: 50px !important;
	color:#f9ec23;
	
}
.BarajaResp{
	margin-bottom:16px;
	background-color:#1a1a1a !important;
	width: 180px;
	height:296px;
	border:solid 3px #4d5b62;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.cartasColumnaIzq{
	min-width: 180px;
	min-height:294px;	
	max-width: 180px;
	max-height:334px;
	margin: 0px auto;
	
}

.cartaReversa{
	width:100%;
	margin: 0 auto;
}
.mazoTemp{
	margin:10px;
	width: 107px;
	height:107px;
	
}

.barajaTemp{
	margin-left: 2px;
	width: 170px !important;
	height:214px !important;
	border:solid 2px #000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	
}


.contenido{
	width: 528px;
	background-color: #003f3b;
	min-height: 50px !important;
	color:#f9ec23;
	margin: auto;
	
}
.fondoMazo{
	width: 528px;
	height: 528px;
	background-color: #00a69c;
}
.espacioSuperior{
	margin-top:3%;
}

.contenidoSuperior{
	width: 528px;
	background-color: #007853;
	min-height: 30px !important;
	margin:0px auto;
	
}
.fondosup{
	width: 528px;
	background-color: #000;
	min-height: 11px !important;
	font-size: 87%;
	color: white;
	
}
.multiplicador {
	float: right;
	width: 140px;
	font-size: 100%;
}

.errores {
	float: right;
	width: 85px;
	font-size: 100%;
}
.comodines {
	float: right;
	width: 105px;
	font-size: 100%;
}

.puntosTotal {
	float: right;
	width: 120px;
	font-size: 100%;
}

.cartaError{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */

}

.centro{
	margin:0px auto;
}

.textoLetra{
	color:#f9ec23;
	background-color:#007853;
	min-height: 20px;
	margin-top: 7px;
	font-size: 20px;
	
}
