/**General**/
@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: local('Gabriela'), local('Gabriela'), url(Gabriela-Regular.ttf) format('Gabriela');
}
.mesa
{
	background-image:url("../img/mesa.png");
	background-repeat:no-repeat;
	float: left;
	width:432px;
	height:354px;
	margin-top:145px;
	
}
.centro{
	margin-left:17%;
	width: 90%;
}

/**Cajó lateral */
.cajonLateral{	
	padding:20px 10px;
	background-image:url("../img/cajon_reg.png");
	background-repeat:no-repeat;
	margin-top:265px;
	width:272px;
	height:188px;
	float: left;
		
}

input.boton-lateral{
	background:#D9E021;
	border-color: #D9E021;
	font-family:"Gabriela";
	margin-top:10px;
	margin-left:-30px;
	font-size:12px;
	
	
}

label.sexo{
	color:#D9E021;
	margin: 0px 0px 0px 10px; float: left;	
	font-family:"Gabriela";

}

p.sexo{margin: 0px 0px 10px 0px;}
input.sexo{float: left; width: 50px;}


input[type="text"]{
	background: #2E3116;
	outline: none !important; 
	border-color: #000000;
	color:#D9E021;
	font-family:"Gabriela";

}

input[type="text"]:focus {
	background: #2E3116;  
	outline: 2px solid #1D2005 !important; 
	border-color: #000000;
	color:#D9E021;
	font-weight:bold;
	font-family:"Gabriela";
}

input.lateral{
	width:210px;
	border: 1px solid #000; 
	margin-top:-6px;
	border-radius:10px;
	font-family:"Gabriela";

}

/*Cajon superior*/

.cajonSuperior{	
	background-image:url("../img/cajon_login.png");
	background-repeat:no-repeat;
	margin-left:220PX;
	height:240px;
	width:177px;
	padding-left: 170px;
/**margin-top:180px;**/
	position:absolute;
	float: left;
}
