.cajonLateral{	
	background-image:url("../img/cajon_reg.png");
	background-repeat:no-repeat;
	margin-top:265px;
	width:262px;
	height:188px;
	float: left;
		
}

.mesa
{
	background-image:url("../img/mesa.png");
	background-repeat:no-repeat;
	float: left;
	width:432px;
	height:354px;
	margin-top:145px;
	
}

.cajonSuperior{	
	background-image:url("../img/cajon_login.png");
	background-repeat:no-repeat;
	margin-left:220PX;
	height:240px;
	width:177px;
	padding-left; 170px;
/**margin-top:180px;**/
	position:absolute;
	float: left;
}


input[type="text"]{
	background: #2E3116;
	outline: none !important; 
	border-color: #000000; 
	}

input[type="text"]:focus {
	background: #2E3116;  
	outline: 2px solid #1D2005 !important; 
	border-color: #000000;
	color:#D9E021;
	}

.centro{
	margin-left:17%;
	width: 90%;
}

