body{background:#ffe599;}

p{text-align:justify;text-indent: 50px;}
h2{	margin-top:40px;margin-bottom:70px;}
.dato{font-weight:bold;}

#segundo{margin-top:150px;}

#loteria-img{
	margin-top:50px;
	height:500px;
	width:300px;
}

#datosUsuario{margin:40px 0px;}
