#seccion-formularios, #seccion-informacion{	
	margin-top:50px;
}

#seccion-formularios{
	border: 3px solid #fff;	
	padding: 25px 20px;
	background:#333;
	min-height: 620px;
	max-height: auto;
}
#formularioIsesion, #formularioRegistro{
	margin-top:50px;
}
#formularioIsesion img, #formularioRegistro img{
	margin-top:-60px;
	margin-bottom:20px;
}
#i_uami{
	float:left !important;
	margin-right:50px;
}
#i_virtuami{
	float:right !important;
}
.boton{
	margin:30px 0px !important;
	height: 40px;
	border-radius:10px;	
	background:#078d7b;
	border:none;
	color:#fff;
	font-weight:bold;
}
#texto{
	margin-bottom:100px;
	font-weight: bold;
}


select{
	margin-bottom:5%;
	height:7%;
	width:80%;
	margin-left:10%;
}

video{margin-bottom:50px; margin-top:15px;}

#seccion-informacion img{
	margin-top:10px;
	margin-bottom:80px;
}

.vacio{	border-color: #000 !important;}
.correcto {border-color: #005702 !important;}
.incorrecto{border-color: #A70000 !important;}

input[type="text"], input[type="email"], input[type="password"]{
	background:#fff;
	border-radius: 10px;
	border: 1px solid #fff !important;
	height:38px;
	width: 80%;
	margin-bottom:5%;
	margin-left:10%;
}

:-moz-placeholder { /* Firefox 18- */
   color: #078D7B;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #078D7B;  
}

:-ms-input-placeholder {  
   color: #078D7B;  
}

.labelRegistro{
	width: 80%;
	margin-left:10%;
	color: #fff;
	margin-bottom:5px;
}

.error{
	width: 80%;
	margin-left:10%;
	color: red;
	margin-bottom:15px;
	margin-top:-10px;	
}
#cajaSexo{
	height:38px;
	width:80%;
	margin-left:10% !important;
	background:#fff;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 10px;
}

#sig1{margin: 20px 0px;}

@media (min-width: 1500px){
	#seccion-formularios{
		height: 700px;
	}	
}
