/*center{	positon:absolute;}*/
h3{	color:#fff;	margin-left:10px; font-size:30px;}
li{	list-style:none;}
#cajaLecciones{
	background:#333;
	padding:20px 20px;
	margin: 50px 25px;
	border:1px solid #fff;
}
#logoLoteria{
	margin-top:50px;
}
#botonL{
	margin-top:50px;
	margin-bottom:50px;
}
.cajas-txt-lecciones{
	height:600px;
	margin-top:10px;
}

.cajas-txt-lecciones>*{
	width:inherit;
}

#labels label{
	font-weight:bold;
	font-size:15px;
	color:#fff;
	background:#078d7b;
	width:50%;
	margin-left:25%;
	height:50px;
	padding:10px;
	text-align:center;
	margin-top:30px;
	border-radius:10px;	
}

#labels label:hover{
	font-size: 13px;
}
/*#lb-reglas{
	margin-left:28.5%;
	float:right;
	position:absolute;
}

#lb-lecciones{
	margin-left:38%;
	float:left;
}
#lb-diminutivos{
	margin-left:5%;
	float:left;
}
#lb-derivaciones{
	margin-left:-1%;
	float:left;
}
#lb-sinonimos{
	margin-left:6%;
	float:left;
}*/
.plecciones{
	margin-top:17px;
	padding-left:40px;
	padding-right:15px;
	position:absolute;	
}

.plecciones li{
	font-size:15px;
	color:#fff;
	text-align:justify;
}

#flechas2{
	margin-top:100%;

}

