/*center{	positon:absolute;}*/
h3{	color:#fff;	margin-left:10px; font-size:30px;}
li{	list-style:none;}
#cajaLecciones{
	background:#333;
	padding:20px 20px;
	margin: 50px 25px;
	border:1px solid #fff;
}
#logoLoteria{
	margin-top:50px;
}
#botonL{
	margin-top:50px;
	margin-bottom:50px;
}
.cajas-txt-lecciones{
	height:600px;
	margin-top:10px;
}

.cajas-txt-lecciones>*{
	width:inherit;
}

#labels label{
	font-weight:bold;
	font-size:15px;
	color:#fff;
	background:#078d7b;
	width:50%;
	margin-left:25%;
	height:50px;
	padding:10px;
	text-align:center;
	margin-top:30px;
	border-radius:10px;	
}

#labels label:hover{
	font-size: 13px;
}

.plecciones{
	margin-top:50px;
	padding-left:40px;
}

.plecciones li{
	font-size:16px !important;
	color:#fff;
	text-align:justify;
	line-height: 1.8em !important;
	
}
#flechas2{
	margin-top:100%;
}
#i_uami{
	float:left;
}
#i_virtuami{
	float:right;
}
#i_uami, #i_virtuami{
	margin-bottom:50px;
}
