/*------------------------------------------------------------------------------------------------------------*/
											/*Información */
											
/*.header{height:50px; margin-bottom:30px; margin-left:1%;}*/
select{margin-bottom:10px; height:35px}
.underline{ border-bottom: solid 2px #fff; color:#FFF;}
.hilera{
	background-image:url("../img/cenefa.png") !important;
	height:21px;
	margin: 0;
	margin-top:10px;
}
/* Barra de navegación */
.navegacion{margin-top:10px;}
.navegacion >li, .navegacion>li a{
	color:#fff;
	font-family:'Gabriela';
	display:inline;
	padding:10px;
	font-size:25px;
	cursor: pointer;
}
.navegacion > li:hover, .navegacion>li a:hover{font-weight:bold;}

/*Información*/
#informacion{margin-top:20px;}
#nombreUsuario{	vertical-align:bottom;}
#logoLoteria{margin-top:-40px;}
.foto{margin:0; width:250px; height:250px; float:left; border: 2px solid #fff; padding: 15px 10px;}
label{color:#727b7a;margin-bottom:20px; cursor:auto;} 
#lnombreUsr{color:#000; font-size:20px; cursor:auto;}
#c1,#c2,#c3{margin-top:50px; padding:0px 50px; height:500px;}
#c1,#c2{border-right: 3px solid #fff;}
form > hr {
	height:3px;
	width: auto !important;
	background:#fff;
	margin-bottom:-10px;
}
#cjInformacion{
	background:#17343c;
	margin:0;
	margin-top:30px;
	margin-left:-22px;
	padding: 10px 0px;
	padding-bottom:80px;
	width:105.7% !important;
	height:auto;
}
#estadisticas{
	background:#17343c;
	margin:0;
	margin-top:50px;
	margin-left:-9px;
	padding: 10px 0px;
	padding-bottom:80px;
	width:101.5% !important;
	height:auto;	
	border: 3px solid #fff;
}
#nombreUsuario{
	width:auto !important;
	float:left !important;
}

#guardaCambios{margin-top:120px;}
#editarSeccion{margin-top:220px;}
#BtnGuardaCambios, #cancelarGuardaCambios{height:40px;}
#BtnGuardaCambios{margin:20px 0px;}
#editarFoto{margin-top:50px}

/*Clase para pasar de formulario a tarjeta*/
input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled, select:disabled{
	background:#17343c !important;
	border:none;
	font-size:20px !important;
	color:#fff !important;
	height:40px !important;
	border-bottom: 3px solid #fff;
	-webkit-appearance: none;
	-moz-appearance:none;
    text-indent: 0.01px;
    text-overflow: '';
	text-align:center;
	cursor: auto;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus{
	border:2px solid #078d7b;
	color: #fff;
	cursor: pointer;
}

input[type="button"], input[type="submit"]{
	background:#17343c;
	border: 3px solid #fff;
	text-align:center;
	font-size:20px !important;
	color:#fff;
	height:40px !important;
	margin-bottom:10px !important;
	cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"], select{
	-webkit-appearance: none;
	-moz-appearance:none;
	background:#17343c !important;
	height:40px;
	color:#000;
	border:2px solid #FFF;
	cursor: pointer;
	
}

#c2 > label, #c3>label, #alumno>label, #prof-admin>label{text-align:center;}

/*------------------------------------------------------------------------------------------------------------*/
											/*Estadísticas */
										
p.descripcionTrofeo,p.condicionTrofeo{color:#fff;}
h3{color:#fff;}
h2{color:#fff;}
.lineaCentro{
	height:3px;
	background:#fff;
	width:50%;
	margin-left:3%;
	color:#fff;
}
.leyenda{
	height:15px;
	width:15px;
	display: inline-block;
	
}
#leyendaNaranja{
	background:#ff9900;
}
#leyendaAzul{
	background:#3366cc;
}
#leyendaRojo{
	background:#dc3912;
}
#leyendaVerde{
	background:#5fb965;
}

#logoLoteriaEst{
	margin-bottom:30px;
}
#cajaImgLoteria{
	border-bottom:3px solid #fff;
}

#trofeosGaleria{
	margin-top:50px;
	height:100%;
}
#trofeos, #graficas{
	margin-top:40px;
	border-right: 3px solid #fff;
	margin-bottom: 50px;
	height:100%;
}
#ranking{
	margin-top:40px;
	margin-bottom:50px;
	/*border-left:3px solid #fff;*/
}
.trofeo-chico{width:40px; height:40px;}
.trofeo-grande{	opacity:1;}
.TseccionesEst{
	text-align:center;
	color:#eeb81c;
	font-size:19px;
	font-weight: bold;
	font-size:15px;
}
.azul{
	background:#17343C !important;
}
.blanco{
	color:#FFF !important;
}
table, td{
	background: #17343C !important;
	border:1px solid #EEB81C !important;
}
table{
	padding:0px !important;
	
}
#ultimaPartida{
	font-weight:bold;
	color:#EE4036;
	font-size:15px;
	text-align:center;
}
#totalUltimaPartida{
	font-size:30px;
	color:#EEB81C;
	text-align:center;
	font-weight:bold;
}
#gallery li{position: relative;	list-style: none;	display:inline;}
#gallery img{
	position: relative;
	box-shadow: 0 0 10px #eeb81c;
	-moz-transition: border 0.6s ease-out;
	-o-transition: border 0.6s ease-out;
	-webkit-transition: border 0.6s ease-out;
	border: 2px solid #fff;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	margin-right:8px;
}
#galeriaEditarFoto{
	background-color: rgba(178, 44, 44, 0.8);
    background: rgba(178, 44, 44, 0.8);
	border: 3px solid #fff;
	position: absolute;
	margin-top:-10%;
	display:fixed;
	padding:40px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 300px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
	z-index:-3;
	opacity:0;
}

#galeriaEditarFoto>img{	width:60px;	height:60px;}
#closeGaleriaEditarFoto {
	background: url(../img/close.png) no-repeat left top;
	height: 32px;
	width: 32px;
	position: absolute;
	top: -15px;
	right: -15px;
}
#lightbox{
    background-color: rgba(178, 44, 44, 0.8);
    background: rgba(178, 44, 44, 0.8);
    color: #fff !important;
	border: 2px solid #bdbdbd;
	position: absolute;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 300px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	padding:40px;
	width:80%;
	height:auto;
	left:10%;
	top:10%;
	position: fixed;
	z-index:4;
}

#lightbox div:target {opacity: 10;	z-index:5}
.close{
	background: url(../img/close.png) no-repeat left top;
	height: 32px;
	width: 32px;
	position: absolute;
	top: -15px;
	right: -15px;
}	



/*------------------------------------------------------------------------------------------------------------*/
											/*GALERÍA */
						
#nombreCarta{color:#fff; font-size:43px; font-weight:bold; text-shadow:1px 1px 3px #000;}
#imgCarta{width:450px;height:450px; padding:5px}
.borde-amarillo{
	border: 5px solid #eeb81c;
    -moz-box-shadow: 4px 3px 5px #000000;
    -webkit-box-shadow: 4px 3px 5px #000000;
    box-shadow: 4px 3px 5px #000000;
}
.fondo-amarillo{
	background-color:#eeb81c; 
    -moz-box-shadow: 4px 3px 5px #000000;
    -webkit-box-shadow: 4px 3px 5px #000000;
    box-shadow: 4px 3px 5px #000000;
}
#logoLoteriaPerfil{	margin-top:15px;}
#carrusel{
	background:#ee4036;
	padding: 10px 20px;
	margin-top:5%;
	margin-bottom:60px;
}
#carrusel-ant>img, #carrusel-sig>img{
	width:50px !important;
	height:50px !important;
	margin:20px 20px !important;
	
}

.carrusel-apaga{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */	
}
.carrusel-ilumina2{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */	
}
#carrusel>span{
	margin:0 !important;
	padding:0 !important;
}
#carrusel>span:not(.recorre)>img{width:107px !important;height:107px !important;}
#descripcionCarta{
	color:#fff; 
	font-size:15px;
	font-weight:bold;
	line-height:1.4em;
	text-shadow: 1px 1px 3px #000;
	text-indent:5%;
	text-align:justify; 
	height:220px; 
	margin-top:50px; 
	margin-bottom:40px; 
	padding:0% 5%;
}


/*----------------------------------------------------------------------------------------------------*/
										/*MediaQuerys*/

@media (min-width: 1500px){
	#cjInformacion{
		width: 104.7% !important;
	}
	#estadisticas{
		margin-left:-12px;
	}	
}
@media (max-width: 900px){
	#carrusel>span>img,  #carrusel-ant, #carrusel-sig{
		width:80px !important;
	}
	#carrusel>span, #carrusel-ant, #carrusel-sig{
		width:100px !important;
		float:left !important;
	}
	#galeriaEditarFoto{
		margin-top:-20%;
	}
}
@media (max-width: 900px){
	rect{
		width:auto !important;
	}
}