.foto img{
	margin-top:15px;
	width:200px;
	height:200px;
	float:left;
}

label{
	color:#D9E021;
}

.nombreUsr{
	color:#FFF;
}

.informacion{
	background-image:url("../img/azulLecciones.png") !important;
	margin-top:30px;
	padding: 30px 10px;

}

.navegacion ul>li{
	display:inline;
	background:#FFF;
	padding:10px;
}

.navegacion ul>li:hover{
	font-size:20px;
}

