.foto img{	margin-top:15px; width:150px; height:150px;	float:left;}

label{color:#D9E021;margin-bottom:20px;} 
.nombreUsr{color:#FFF;}
.informacion, .caja-estadisticas{
	background-image:url("../img/azulLecciones.png") !important;
	margin-top:30px;
	padding: 5px 40px;
}
.navegacion ul>li{
	display:inline;
	background:#FFF;
	padding:10px;
}
.navegacion ul>li:hover{font-size:20px;}
#BtnGuardaCambios, #cancelarGuardaCambios{height:50px;float:right;}
.header{height:50px; margin-bottom:80px;}
.header a{padding:15px 20px;font-size:20px;	color:#D9E021;float:right;}
.header img{padding:2px 2px; width:40px; height:40px; float:right;}
#BtnEditar{width:200px;	height:60px;}
#editarFoto{margin-left:-580px;	margin-top:130px;}

/*******************/
.gris{opacity:0.4;	filter:alpha(opacity=40); /* For IE8 and earlier */}
#gallery li{position: relative;	list-style: none;	display:inline;}
#galeriaEditarFoto{
	background-color: rgba(24, 6, 0, 0.9);
    background: rgba(24, 6, 0, 0.9);
    color: rgba(24, 6, 0, 0.9);
	border: 2px solid #bdbdbd;
	position: absolute;
	margin-top:-500px;
	display:fixed;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index:-3;
	opacity:0;
}
#galeriaEditarFoto>img{	width:60px;	height:60px;}
#closeGaleriaEditarFoto {
	background: url(../img/close.png) no-repeat left top;
	height: 32px;
	width: 32px;
	position: absolute;
	top: -15px;
	right: -15px;
}
#gallery a {
	position: relative;
	-moz-transition: border 0.6s ease-out;
	-o-transition: border 0.6s ease-out;
	-webkit-transition: border 0.6s ease-out;
}
#gallery a:hover {
	border: 5px solid rgba(39, 25, 0, 1);
	border: 5px solid rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
}
#gallery a:focus {
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
}

#lightbox div{
    background-color: rgba(24, 6, 0, 0.9);
    background: rgba(24, 6, 0, 0.9);
    color: rgba(24, 6, 0, 0.9);
	border: 2px solid #bdbdbd;
	opacity: 0;
	position: absolute;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 300px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	padding:40px;
	width:40%;
	height:450px;
	left:30%;
	top:10%;
	z-index: -3;
	position: fixed;
}

#lightbox div:target {opacity: 10;	z-index:5}

#lightbox a {
	background: url(../img/close.png) no-repeat left top;
	height: 32px;
	width: 32px;
	position: absolute;
	top: -15px;
	right: -15px;
}	

.trofeo-chico{width:250px; height:80px;}

.trofeo-grande{
	width:200px;
	height:200px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

p.descripcionTrofeo{color:#D9E021;}
h3{color:#fff;}
#imgCarta{width:450px;height:450px; padding:5px}
.borde-amarillo{border: 5px solid #D9E021;}
.fondo-amarillo{background-color:#D9E021}

/*CARRUSEL*/

#carrusel{
	background-image:url("../img/azulLecciones.png") !important;
	padding: 5px 10px;
	margin-top:20px;
	margin-bottom:60px;
}
.carrusel-apaga{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */	
}
.carrusel-ilumina2{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */	
}
#carrusel>img{width:88px;height:88px;}

#carrusel-ant, #carrusel-sig{
	width:24px !important; height:24px !important;
	margin-bottom:30px;
}

#nombreCarta{color:#fff; font-size:43px;}
#descripcionCarta{color:#fff}
